<!DOCTYPE html>
<html lang="en">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/index_layout.css') }}"/>
<head>
    <meta charset="UTF-8">
    <title>Scrap</title>
</head>
<body>
<!------ Include the above in your HEAD tag ---------->

<div class="wrapper fadeInDown">
  <div id="formContent">

    <!-- Headings -->
    <div class="fadeIn first">
        <h1> SCRAP!</h1>
    </div>

    <!-- Login Form -->
    <form action="/" method="POST">
      <input type="text" id="login" class="fadeIn second" name="login" placeholder="USERNAME">
      <input type="text" id="password" class="fadeIn third" name="login" placeholder="PASSWORD">
      <input type="submit" class="fadeIn fourth" value="Log In">
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="#">Forgot Password?</a>
    </div>

  </div>
</div>
</body>
</html>

