{% extends "base.html" %}
{% block title %}Index{% endblock %}

{% block html_head %}
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"/>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index_layout.css') }}"/>
    <link rel="stylesheet" href=" {{ url_for('static', filename='css/index_layout2.css') }} "/>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="index-template">

                <div class="index-actions">
                    <a href="/login" class="btn btn-primary btn-lg">login to scrap</a>
                    <a href="/create_account" class="btn btn-primary btn-lg"> create account</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

