<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href=" {{ url_for('static', filename='css/index_layout2.css') }} "/>
    <title> {% block title %}{% endblock %} - user</title>

       {% block footer %}
        <div class="scrapnav">
        <div class="scrapnav-centered">

        <a  style="color:#ffffff"  href="/profile" class="#welcome">{{ username }} </a>
        <a class="#logout" href="/logout">Logout</a>
        <a class="#home" href="/">Home</a>

        </div>
    </div>

       {% endblock %}
    {% block html_head %}{% endblock %}
</head>
<body>

    <div id="content">
        {% block content %}{% endblock %}
    </div>
